@page "/profiles"
@using DynamicDataTest.Web.Data
@using ReactiveUI
@using DynamicDataTest.Contracts
@using System.Collections.ObjectModel
@using System.Reactive.Linq
@using DynamicDataTest.Web.Data.Profiles
@inherits ReactiveUI.Blazor.ReactiveComponentBase<DynamicDataTest.Web.Data.Profiles.ProfilesViewModel>
@inject ProfilesViewModel InjectedViewModel; 
<h3>Profiles</h3>

@foreach (var profile in ViewModel.Profiles)
{
   <h3>@profile.Id</h3>
   <h3>@profile.Username</h3>
   <button @onclick="() => profile.RemoveCommand.Execute().Subscribe()">Delete</button>
}

@code {

   protected override async Task OnInitializedAsync()
   {
      this.ViewModel = InjectedViewModel;
      this.ViewModel.ExecuteInitialize().SubscribeOn(RxApp.MainThreadScheduler).Subscribe();
      await base.OnInitializedAsync();
   }

}